.svg-common() {
	background: url("svg/sprite.css-132fb038.svg") no-repeat;
}

.svg-svg--arrow-left {
	.svg-common();
	background-position: 0 0;
}

.svg-svg--arrow-left-dims {
	width: 25px;
	height: 18px;
}

.svg-svg--arrow-right {
	.svg-common();
	background-position: 1.4392630972941853% 0;
}

.svg-svg--arrow-right-dims {
	width: 25px;
	height: 18px;
}

.svg-svg--arrow-w-left {
	.svg-common();
	background-position: 2.8785261945883707% 0;
}

.svg-svg--arrow-w-left-dims {
	width: 25px;
	height: 18px;
}

.svg-svg--arrow-w-right {
	.svg-common();
	background-position: 4.317789291882556% 0;
}

.svg-svg--arrow-w-right-dims {
	width: 25px;
	height: 18px;
}

.svg-svg--bg-big-element {
	.svg-common();
	background-position: 7.727975270479135% 0;
}

.svg-svg--bg-big-element-dims {
	width: 468px;
	height: 730px;
}

.svg-svg--check {
	.svg-common();
	background-position: 32.78026258837109% 0;
}

.svg-svg--check-dims {
	width: 29.25px;
	height: 22px;
}

.svg-svg--close {
	.svg-common();
	background-position: 34.18060850628454% 0;
}

.svg-svg--close-dims {
	width: 12.47px;
	height: 12.47px;
}

.svg-svg--error {
	.svg-common();
	background-position: 35.11494252873563% 0;
}

.svg-svg--error-dims {
	width: 22px;
	height: 22px;
}

.svg-svg--error-notif {
	.svg-common();
	background-position: 36.42117376294591% 0;
}

.svg-svg--error-notif-dims {
	width: 24px;
	height: 24px;
}

.svg-svg--facebook {
	.svg-common();
	background-position: 37.97687861271676% 0;
}

.svg-svg--facebook-dims {
	width: 32px;
	height: 32px;
}

.svg-svg--home-logo-pic {
	.svg-common();
	background-position: 47.19178082191781% 0;
}

.svg-svg--home-logo-pic-dims {
	width: 302px;
	height: 580px;
}

.svg-svg--instagram {
	.svg-common();
	background-position: 57.283236994219656% 0;
}

.svg-svg--instagram-dims {
	width: 32px;
	height: 32px;
}

.svg-svg--line-left {
	.svg-common();
	background-position: 62.3020706455542% 0;
}

.svg-svg--line-left-dims {
	width: 120px;
	height: 222px;
}

.svg-svg--line-left-l {
	.svg-common();
	background-position: 70.64276885043263% 0;
}

.svg-svg--line-left-l-dims {
	width: 144px;
	height: 138px;
}

.svg-svg--line-right {
	.svg-common();
	background-position: 78.38002436053593% 0;
}

.svg-svg--line-right-dims {
	width: 120px;
	height: 222px;
}

.svg-svg--line-right-r {
	.svg-common();
	background-position: 87.3913043478261% 0;
}

.svg-svg--line-right-r-dims {
	width: 152px;
	height: 138px;
}

.svg-svg--logo {
	.svg-common();
	background-position: 93.18589360430364% 0;
}

.svg-svg--logo-dims {
	width: 89px;
	height: 82px;
}

.svg-svg--play {
	.svg-common();
	background-position: 98.0952380952381% 0;
}

.svg-svg--play-dims {
	width: 82px;
	height: 82px;
}

.svg-svg--youtube {
	.svg-common();
	background-position: 100% 0;
}

.svg-svg--youtube-dims {
	width: 32px;
	height: 32px;
}

